target/

# sbt-slamdata common resources
/scripts/checkAndAutoMerge
/scripts/commonSetup
/scripts/discordTravisPost
/scripts/isRevision
/scripts/listLabels
/scripts/closePR
/scripts/publishAndTag
/scripts/readVersion

/datasource/src/test/resources/precog-ci-275718-6d5ee6b82f02.json
